@import url("reset.css");

body{
    height: 100vh;
}

header{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
    background-color: yellowgreen;
}

.input__search{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 25px auto;
}

.search{
    justify-content: center;
    margin: auto 15px;
}

.book__section{
    width: 100%;
    height: auto;
}

.book__title{
    display: flex;
    justify-content: center;
    margin: 25px auto;
    font-size: 35px;
    font-weight: 600;
}

.book{
    width: 100%;
    height: auto;
    padding-left: 15%;
    display: flex;
    justify-content: flex-start;
}

.book__image{
    margin-right: 30px;
    width: 25%;
    height: 35%;
    margin: auto 15px auto 5px;
    border-radius: 20px;
}
.book__info{
    width: 100%;
    height: auto;
}
.book__info h5{
    font-size: 3em;
    font-weight: 500;
    margin: 5px auto;
}
.book__info h6{
    font-size: 1.5em;
}

.stars{
    font-size: 2em;
    margin: 10px auto;
    color: yellowgreen;
    margin: 15px auto;
}

.category{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin: 25px auto;
}

.category div{
    text-align: center;
    border: 1px solid grey;
    width: 90px;
    height: 30px;
    padding: 5px 25px;
    margin: 10px 10px;
    border-radius: 20px;
}
.btns{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
}
.btns i{
    text-align: center;
    border: 1px solid green;
    background-color: green;
    width: 50px;
    height: 40px;
    margin: auto 20px;
    border-radius: 20px;
}
.btns div{
    text-align: center;
    font-weight: 400;
    border: 1px solid grey;
    background-color: grey;
    width: 190px;
    height: 40px;
    margin: auto 30px;
    border-radius: 10px;
}

.section__top h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 25px auto;
}

.book__list{
    display: flex;
    justify-content: space-between;
}

.book__small{
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list__img{
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.small__stars{
    margin: 10px auto;
    display: flex;
}
.authors{
    display: flex;
    justify-content: center;
}
.authors__list h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 25px auto;
}

.authors__img{
    width: 30%;
    height: auto;
    border-radius: 20px;
}
.authors__info{
    display: flex;
    flex-direction: column;
}

.authors__info h5{
    margin: 15px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.authors__info h6{
    margin: 10px auto;
    font-size: 20px;
    font-weight: 400;
}